html {
	background-color: white;
}
html body {
	background-color: aqua;
}
#index-header {
	text-shadow: 1px 1px;
}
header {
	text-align: center;
}
nav {
	text-align: center;
}
#jeremies-pic{
    float: right;
    height: 100px;
    width: 100px;
}
#resume-container{
    width: fit-content;
    height: fit-content;
}
